*{
  box-sizing: border-box;
}
body{
  background: #edf0f7;
}
header{
  width: 100%;
  min-height: 70px;
  text-align: center;
  background: #3e3f42;
  color:white;
  line-height: 50px;
  font-size: 30px;
  border-radius: 0px 0px 30px 30px;
}

