*{
  box-sizing: border-box;
}
body{
  background: #edf0f7;
}
header{
  width: 100%;
  min-height: 70px;
  text-align: center;
  background: #3e3f42;
  color:white;
  line-height: 50px;
  font-size: 30px;
  border-radius: 0px 0px 30px 30px;
}
.createButton{
  text-align:end;
  width: 80%;
  padding: 30px;
}
.productList{
  width: 80%;
  margin: 0 auto;
  padding: 5px 0px;
  display: flex;
  flex-flow:wrap row;
  justify-content: flex-start;

}

.product {
  display: flex;
  flex-flow: nowrap column;
  width: 30%;
  height: 400px;
  margin: 2% 1%;
  padding: 15px 5px;
  border: 3px solid grey;
  overflow: auto;
}
.buttonWrapper{
  text-align: end;
  margin-right: 20px;
}
.imageWrapper{
  width: 80%;
  min-height: 150px;
  max-width: 90%;
  padding: 5% 2%;
  text-align: center;
  margin: 0 auto;
}
.imageWrapper img{
  max-width: 80%;
  border-radius: 10px;
  margin:  auto;
}
.productName{
  text-align:center;
  font-size: 25px;
  font-family: "Times New Roman";
}
.productDescription{
  width: 80%;
  margin: 20px auto;

}
.productPrice{
  margin-right: 3%;
  text-align: end;
  font-weight: bold;
  margin-bottom: 10px;
}
.formWrapper{
  width: 40%;
  margin: 100px auto;
  text-align: center;
  border: 1px solid black;
}
.inputWrapper{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.inputWrapper span, .inputImageWrapper span{
  padding-right: 10px;
  width: 20%;
}
.formSubmitWrapper{
  width: 30%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  text-decoration:none;
}
.inputImageWrapper {
  width: 50%;
  margin: 0 auto;
}
